
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<head><link rel="stylesheet" href="~/Content/Index.css"></head>


<h2>Categories</h2>

<h1>Plains</h1>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<p></p>
<p></p>
<h1>Platform</h1>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<p></p>
<p></p>
<h1>Sport</h1>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>


