@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/Suppliers.css">
    <link rel="stylesheet" href="~/Content/Index.css" />
</head>

<h2>Suppliers</h2>
<h1>EEUU</h1>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<p></p>
<p></p>
<h1>Colombia</h1>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<p></p>
<p></p>
<h1>China</h1>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>
<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle4"></span>
            <span class="circle circle5"></span>
        </div>
        <div class="glass"></div>
        <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
    </div>
</div>

