@model ZapatukiFinal.Dtos.ViewModels.UserViewModel

@{
    ViewBag.Title = "Administrator";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Seller</h2>
@if (Session["UserLogged"] == null)
{
    <div class="alert alert-danger">You are not logged</div>
}
else
{
    if (Model.User != null)
    {
        if (Model.User.IdRole == 2)
        {
            <div class="alert alert-success">Successful Login Seller @Model.User.FirstName</div>
            <button data-label="BackToHome" class="rainbow-hover">
                @Html.ActionLink("Product Registration", "ProductRegister", "ProductRegister", new { area = "" }, new { @class = "nav-link" })
            </button>
        }
        else
        {
            <div class="alert alert-danger">You don´t have seller permissions to access</div>
        }
    }
}
<button data-label="BackToHome" class="rainbow-hover">
    @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
</button>

<form action="@Url.Action("Logout", "Login")" method="post">
    <button type="submit" class="rainbow-hover">Logout</button>
</form>
